@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.navbar-brand,
a.nav-link{
    font-weight: bold;
    font-size: 16px;
}

.navbar-brand,
.navbar-brand:hover{
    color:#49a6e9;
    letter-spacing:5px;
}
a.nav-link{
    color: #063251;
    letter-spacing:3px;
    font-size: 16px;
}
a.nav-link:hover{
    color:#49a6e9;
}
.container{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.backround-color{
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
}
.color{
    color:#49a6e9;
}
.click-me{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing:2px;
    font-weight: bold;
    font-size: 16px;
}